.ButtonLogOut {
    text-align: center;
}

.ButtonLogOut-Button {
    background-color: #f66d6d;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 140px;
    margin: 15px 0;
    border: none;
    font-family: "Poppins", sans-serif;
}

